!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		:less

			.server {
				float: left;
				padding: 3px;
				iframe {
					margin: 0;
					padding: 0;
					border: 0;
				}
			}
			.note {
				font-family: monospace;
				text-align: right;
					font-size: 1.3em;
				.etabits {
				}
			}
	body
		each chkme in checkmes
			.server
				iframe(src="./check.html#src=#{encodeURI(chkme[0])}&var=#{encodeURI(chkme[1])}&label=#{encodeURI(chkme[2])}")
		hr(style="clear: both")
		p.note
			| Developed By 
			a(href='https://twitter.com/aularon') @aularon
			| , sourcecode:
			a(href='https://github.com/aularon/svu-status') 🐱/aularon/svu-status
			| | Hosted By 
			a(href='https://twitter.com/aularon')
				img(alt="EtaBits Logo", src="http://www.etabits.com/favicon.ico", style='vertical-align: sub;')
				span.etabits EtaBits
